.cover{
    display: block;
    position: relative;
}

.container-input{
    display: block;
    width: 1201px;
    height: 435px;
    border: 3px solid #000;
    background: #FFF;
    position: relative;
    top: 20px;
    left: 172px;
    padding: 24px;
}

.input-group-text{
    width: 150px;
    height: 49px;
}

.same-input{
    margin-top: 6px;
    margin-bottom: 6px;
}


.group-short{
    padding-left: 50px;
    padding-right: 680px
}

.header-name{
   text-align: center;
   padding-top: 8px;
}


.btn{
    width: 172px;
    height: 46px;
    border-radius: 30px;
    border: 3px solid #000;
    background: #FFF;
}


.btn-save{
    position: absolute;
    bottom: -87px;
    right: 45px;
}

.btn-goback{
    position: absolute;
    bottom: -150px;
    left: 32px;
}

.print-range{
    display: block;
    padding-left: 50px;
}

.group-long{
    padding-left: 50px;
}

.page{
    padding-bottom: 4px;
}